<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <script>
//       window.onload=function(){
//            function validate(){
//                var key = document.getElementById("key").value
//                if(key == null|| key == "")
//                return false
//                else
//                return true
//
//            }
//
//           document.getElementById("btn").onclick=function(){
//               if(validate())
//                   document.getElementById("myForm").submit()
//           }
//        }

        $(function(){
            $("div").html("<span><b>hello</b></span>")
//            $("div").html("<span><b>world</b></span>")
        })
    </script>
</head>
<body>
<!--<form id="myForm" action="index.html" >-->
    <!--<input type="text" id="key" placeholder="keyworld">-->
    <!--<input id="btn" type="button" value="tijiao" >-->

<!--</form>-->
<div></div>
</body>
</html>